@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&family=Saira:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

body{
    background-color: #fff;
    font-family: "Roboto";
    color: #000;
    height: 100vh;
}

header {
    width: 100%;
    height: 6vw;
    position: fixed;
  
  
    z-index: 3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  
  .cabecalho {
    display: flex;
    align-items: center;
    z-index: 2
  }
  
  .logo {
    width: 15vw;
    height: 100%;
    margin-left: 2vw;
    cursor: pointer;
    margin-top: 0.6vw;
  }
  
  .icon-header {
    width: 6vw;
    cursor: pointer;
  }
  
  .box_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  nav {
    width: 40vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  a {
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
  }
  
  a:hover {
    font-weight: bold;
  }
  
  .home {
    background-image: url('../assets/fundo-vacina.jpg');
    background-size: cover; 
      background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 73vh;
    background-color: white;
    border-radius: 0vw 0vw 3vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_embarque {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 19vw;
    width: 80vw;
    margin-top: 5vw;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5vw;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .home_embarque a {
    background-color: #e2e2e2a8;
    color: white;
    border-radius: 0.5vw;
    width: 24vw;
    height: 5.3vw;
    text-align: center;
    padding-top: 1vw;
    font-size: 1.8vw;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 2vw;
  }
  
  .home_embarque span {
    font-weight: 700;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    font-family: "Poppins", sans-serif;
  }

  .box_cadastro {
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
  }
  
  .box_cadastro a {
    width: 9vw;
    height: 3vw;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: "Poppins", sans-serif;
  }
  
  .cadastrar {
    border: 0.14vw solid #092B43;
    font-size: 1.2vw;
  }
  
  .logar {
    background-color: #092B43;
    font-size: 1.3vw;
  }

  /* fim da nav */

  .topico_seringa {
    display: flex;
    align-items: center;
    margin: 1vw 0vw 1vw 2vw;
    font-size: 2.4vw;
    font-weight: 600;
    color: #092B43;
    padding-top: 5vw;
}

.topico_seringa img {
    width: 6vw;
    height: auto;
    margin-right: 0.6vw;
}

  /* Quem nós somos */

  .sobre_home {
    width: 100%;
    background-color: white;
  }
  
  .container_sobre_home {
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    color: #092B43;
  }
  
  .container_sobre_home img {
    height: 32vw;
    border-radius: 0.4vw;
  }

  .container_sobre_home h3 {
    font-size: 3vw;
    font-weight: 600;
  }
  
  .box_sobre_home {
    padding-top: 1.3vw;
    width: 40vw;
    margin-left: 6vw;
  }
  
  .box_sobre_home p {
    margin-top: 3.5vw;
    font-size: 1.7vw;
  }
  
  .box_sobre_home span {
    font-weight: bold;
  }
  
  .box_sobre_home a {
    background-color: #092B43;
    display: flex;
    width: 20vw;
    height: 5vw;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 0.4vw;
    margin-top: 5vw;
  }

/* mvv */

.card {
  flex: 1 1 200px;
  max-width: 25%;
  background-color: #ffffff;
  border-radius: 4vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 25px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.missao-visao-valores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card img {
  width: 18%;
  justify-content: center;
  margin-bottom: 1vw;
}

.card i img {
  width: 11%;
  justify-content: center;
}

.card h3 {
  font-size: 2.5vw;
  justify-content: center;
  margin-bottom: 0.5vw;
  color: #0E4368;
}

.card p {
  font-size: 1.7vw;
  justify-content: center;
  line-height: 1.8vw;
  color: #333;
}

/* Curiosidade */

.origem {
  max-width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left; 
  font-size: 1.5vw;
  color: #333;
  gap: 6vw; /
}

.origem h2 {
  color: #092B43;
}

.origem span {
  color: #08568e;
}

.texto-origem {
  max-width: 50%;
}

.logo-origem {
  max-width: 30%;
  height: auto;
}

/* futuro footer */



.conteudo-principal-parte button{
    background-color: #70C174;
    padding: 16px 32px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    margin-left: 150px;
    border: none;
    margin-top: 40px;
}

.marcas{
    background-color: #EFF7F2;
}

.marcas img{
    margin-right: 50px;
}

.marcas-titulo{
    font-size: 2.25rem;
    font-weight: 700;
    font-family: "Saira";
}

.img-marcas{
    margin: 0 !important;
    width: 20% !important;
}

.visao-missao-valor{
    background-color: #fff;
    width: 450px;
    border-radius: 70px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-top: 50px;
}

.missao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.visao{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.valor{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.marcas-texto{
    width: 75%;
}

.conteudo-principal-titulo img{
    width: 9% !important;
    margin: 0 !important;
}

.contato{
    height: 300px;
    background-color: #ecf0f1;
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Saira";
    font-weight: 600;
    font-size: 1rem;
}

.informacao{
    padding: auto;
    display: flex;
    gap: 100px;
}

.contato-empresa{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.informacao-dados{
    line-height: 1.50;
}

.contato-empresa-titulo{
    font-weight: 900;    
}

.links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.redes-sociais{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.redes-sociais img{
    width: 5%;
}

.rodape{
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin-top: auto;
}

@media (max-width: 1150px) {
    .conteudo-principal-parte{
        gap: 40px;
    }

    .conteudo-principal-titulo img{
        display: none;

    }

    .conteudo-principal-sobre{
        margin-left: 50px;
        gap: 50px;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .conteudo-principal-titulo{
        margin-left: 200px;
    }

    .conteudo-principal-imagem{
        margin-right: 50px;
    }

    .marcas img{
        width: 30%;
    }

    .contato-empresa{
        padding-left: 20px;
    }
}

@media (max-width: 810px){
    .conteudo-principal-titulo{
        display: none;
    }

    .conteudo-principal-parte img{
        width: 40%;
        margin: 0;
    }

    .marcas{
        gap: 0;
    }

    .conteudo-principal-parte{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }

    .conteudo-principal-sobre{
        width: 80%;
    }

    .sobre{
        align-items: center;
    }
}
