@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.2rem;
}

.lateral {
  font-size: 1.6rem;
  display: flex;
  position: fixed;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  background-repeat: repeat-y;
  background-color: #cdcdcd;
}

.lateral-extendido {
  font-size: 1.6rem;
  display: none;
  position: fixed;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  background-repeat: repeat-y;
  background-color: #cdcdcd;
  color: #8a8a8a;
}

.material-symbols-outlined {
  font-size: 2.2rem !important;
  color: #8a8a8a !important;
}

.icone-lateral {
  margin: 1rem 0;
}

.lateral-extendido img {
  width: 60%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin: 0 40px 80px 40px;
  align-items: start;

}

.menu-principal {
  display: flex;
  flex-direction: column;
}

.menu-ajuste {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #00195a;
  border-top: 1px solid #00195a;
  padding: 40px 0;
  align-items: start;
}

.lateral-extendido .icone-lateral {
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: start;
}

nav button {
  background: none;
  border: none;
}

.dashboard-conteudo {
  background-color: #fdfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 5%;
}

.notificacoes{
  padding: 1rem;
  background-color: #cdcdcd;
  width: 20%;
  display: none;
  position: fixed;
  top: 20%;
  left: 21%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 10px;
  color: #00195a;
  font-weight: 400;
  text-align: center;
}

.titulo-notificacao{
  font-size: 1.6rem;
}

.area-notificacao{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #000000;
  text-align: start;
  gap: 20px;
  background-color: #eeeeee;
  border: 1px solid #adadad;
  border-radius: 10px;
}

.people{
  font-size: 1rem !important;
}

.notificacao{
  display: flex;
  align-items: center;
  gap: 5px;
}

.cabecalho {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #adadad;
  height: 56px;
  font-size: 0.9rem;
  align-items: center;
}

.area-mensagem{
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: #2e2e2e1e;
  position: fixed;
  top: 0;
}

.mensagem{
  padding: 30px;
  background-color: #cdcdcd;
  width: 35%;
  height: 40%;
  display: none;
  position: fixed;
  top: 25%;
  left: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
  box-shadow: -10px 10px 10px #adadad;
  font-size: 1rem;
  color: #eeeeee;
  font-weight: 900;
  text-align: center;
}

.mensagem button{
  padding: 10px 20px;
}

.titulo-mensagem{
  font-size: 1.5rem;
  color: #2e2e2e;
}

.corpo-mensagem{
  font-weight: 500;
  display: flex;
  gap: 10px;
}

.campanhas{
  border-bottom: 1px solid #000;
}

.tabelas{
  display: flex;
}

.cadastro {
  display: none;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #adadad;
  height: auto;
  font-size: 0.9rem;
  align-items: center;
  padding: 30px 0;
}

.cadastro-cidade {
  display: none;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #adadad;
  height: auto;
  font-size: 0.9rem;
  align-items: center;
  padding: 30px 0;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 70%;
}

button{
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #595959;
}

.busca label{
  color: #595959;
  font-weight: 300;
  font-size: 0.7rem;
}

.busca{
  margin: 10px 10px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.busca input{
  height: 25px;
  border-radius: 5px;
}

.busca select{
  height: 30px;
  border-radius: 5px;
}

.edicao-parte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.cadastro-box {
    display: flex;
    flex-direction: column;
}

.cadastro-box label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.3rem;
}

.cadastro-box input {
  width: 70%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
}

.cadastro-box input:hover {
    background-color: #f0f0f0;
}

.cadastro-box input:focus-visible {
    border-color: #165c89;
    outline: none;
}

.select {
  width: 77%;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
}

.select:hover {
    background-color: #f0f0f0;
}

.select:focus-visible {
    border-color: #165c89;
    outline: none;
}

.continue-button{
  padding-left: 100px;
}

.continue-button button{
  padding: 10px 15px;
}
.button-cidade button{
  padding: 10px 15px;
}

.tabela-campanha{
  width: 100%;
  text-align: center;
  padding: 2rem;
  line-height: 3rem;
}

.conteudo-dash {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

.dash {
  flex-grow: 1;
}