@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&family=Saira:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

body {
    background-color: #fff;
    font-family: "Roboto";
    color: #000;
    height: 100vh;
}


header {
    width: 100%;
    height: 6vw;
    position: fixed;
  
  
    z-index: 3;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }
  
  .cabecalho {
    display: flex;
    align-items: center;
    z-index: 2
  }
  
  .logo {
    width: 15vw;
    height: 100%;
    margin-left: 2vw;
    cursor: pointer;
    margin-top: 0.6vw;
  }
  
  .icon-header {
    width: 6vw;
    cursor: pointer;
  }
  
  .box_nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
  
  nav {
    width: 40vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  a {
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
  }
  
  a:hover {
    font-weight: bold;
  }
  
  .home {
    background-image: url('../assets/fundo-vacina.jpg');
    background-size: cover; 
      background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 73vh;
    background-color: white;
    border-radius: 0vw 0vw 0vw 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_embarque {
    display: flex;
    justify-content: center;
    align-items: center;
  
    flex-direction: column;
    color: white;
    height: 19vw;
    width: 80vw;
    margin-top: 5vw;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5vw;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .home_embarque a {
    background-color: #e2e2e2a8;
    color: white;
    /* background-color: #092b43cf; */
    border-radius: 0.5vw;
    width: 24vw;
    height: 5.3vw;
    text-align: center;
    padding-top: 1vw;
    font-size: 1.8vw;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 2vw;
  }
  
  .home_embarque span {
    font-weight: 700;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    font-family: "Poppins", sans-serif;
  }
  
  .home_embarque a:hover {
    background-color: #002f52b9;
    color: white;
    font-weight: 900;
    transition: all 0.5s ease;
    /* Para animações suaves em elementos */
  
  }

.conteudo-principal-imagem {
    width: 30%;
    margin-right: 10vw;
}

.conteudo-principal-titulo {
    font-family: "Saira";
    display: flex;
    align-items: center;
    gap: 1.25vw;
    margin-left: 6vw;
    font-size: 1rem;
    font-weight: 700;
}

.conteudo-principal-sobre {
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
    gap: 1.5vh;
    font-family: "Saira";
    font-size: 1.4rem;
    font-weight: 400;
    color: #092b43;
    line-height: 1.5;
}

.campanhas {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.titulo-campanhas {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}

.campanhas img {
    width: 30%;
}

.conteudo-principal-sobre span {
    font-weight: 700;
}

.conteudo-principal-sobre p {
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.conteudo-principal-sobre h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2.5rem;
}

.conteudo-principal-parte button {
    background-color: #70C174;
    padding: 1rem 2rem;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
    margin-left: 9vw;
    border: none;
    margin-top: 5vh;
}

.marcas {
    background-color: #EFF7F2;
}

.marcas img {
    margin-right: 3vw;
}

.conteudo-principal-titulo img {
    width: 9% !important;
    margin: 0 !important;
}

.contato {
    height: 37.5vh;
    background-color: #ecf0f1;
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Saira";
    font-weight: 600;
    font-size: 1rem;
}

.informacao {
    padding: auto;
    display: flex;
    gap: 6vw;
}

.contato-empresa {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.informacao-dados {
    line-height: 1.5;
}

.contato-empresa-titulo {
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.redes-sociais {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
}

.redes-sociais img {
    width: 5%;
}

.rodape {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    height: 6vh;
    align-items: center;
    margin-top: auto;
}

footer {
    width: 100%;
    background-color: #12577B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0;
  }
  
  .box_footer_rodape {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    font-size: 1.1vw;
    font-weight: 600;
    flex-wrap: wrap;
  }
  
  .box_footer_contato p {
    margin: 0.5vw 0;
  }
  
  .footer_title {
    font-weight: 700;
    font-size: 1.5vw;
    margin-bottom: 1vw;
  }
  
  .box_footer_termos p {
    padding-bottom: 0.9vw;
    cursor: pointer;
  }
  
  .box_footer_termos a {
    font-size: 1.1vw;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
  
  .a_footer {
    width: 17vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    color: #092B43;
    background-color: white;
    font-weight: 600;
    font-size: 1.4vw;
    text-decoration: none;
    margin-top: 1vw;
  }
  
  .footer_final {
    color: white;
    font-weight: lighter;
    margin-top: 2vw;
    font-size: 1vw;
  }

@media (max-width: 1150px) {
    .conteudo-principal-parte{
        gap: 40px;
    }

    .conteudo-principal-titulo img{
        display: none;

    }

    .sobre button{
        width: 20%;
    }

    .conteudo-principal-sobre{
        margin-left: 50px;
        gap: 50px;
    }

    .conteudo-principal-servico{
        width: 75%;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .conteudo-principal-titulo{
        margin-left: 200px;
    }

    .conteudo-principal-imagem{
        margin-right: 50px;
    }

    .sobre-capa{
        align-items: center;
        margin-left: 0;
    }

    .campanhas img{
        width: 45%;
    }

    .marcas img{
        width: 30%;
    }

    .contato-empresa{
        padding-left: 20px;
    }
}

@media (max-width: 810px){
    .conteudo-principal-servico{
        width: 80%;
        margin-left: 50px;
    }

    .conteudo-principal-titulo{
        display: none;
    }

    .conteudo-principal-parte img{
        width: 40%;
        margin: 0;
    }

    .marcas{
        gap: 0;
    }

    .conteudo-principal-parte{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }

    .conteudo-principal-sobre{
        width: 80%;
    }

    .sobre{
        align-items: center;
    }

    .saiba-mais{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .conteudo-principal-parte button{
        margin: 0;
    }

}

