@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Kavoon&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&family=Saira:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

body {
    background-color: #fff;
    font-family: "Roboto";
    color: #000;
    height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    align-items: center;
}

.cabecalho-titulo {
    display: flex;
    margin-left: 1.25vw;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.cabecalho-titulo-img {
    margin-right: 1vw;
    width: 10%;
}

.cabecalho-navegacao {
    margin-right: 3vw;
    display: flex;
    gap: 4vw;
}

.cabecalho-navegacao-item {
    display: flex;
    gap: 2.5vw;
    align-items: center;
}

.cabecalho-navegacao a {
    text-decoration: none;
    font-weight: 500;
    color: #0B0706;
}

.cabecalho-navegacao .logar {
    background-color: #092b43;
    padding: 0.75rem 2rem;
    color: #fff !important;
    border-radius: 0.25rem;
}

.conteudo {
    display: flex;
}

.conteudo-principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.conteudo-principal-parte {
    width: 100%;
    height: 62.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

.capa {
    background-image: url(../assets/fundo-vacina.jpg);
    background-size: cover;
    width: 100% !important;
    margin: 0 !important;
    height: 75vh !important;
}

.sobre-capa-principal {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 3vh;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin-left: 6vw;
    margin-top: 37.5vh;
}

.slogan {
    width: 50%;
    padding: 2rem;
}

.conteudo-principal-imagem {
    width: 30%;
    margin-right: 10vw;
}

.conteudo-principal-titulo {
    font-family: "Saira";
    display: flex;
    align-items: center;
    gap: 1.25vw;
    margin-left: 6vw;
    font-size: 1rem;
    font-weight: 700;
}

.conteudo-principal-sobre {
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
    gap: 1.5vh;
    font-family: "Saira";
    font-size: 1.4rem;
    font-weight: 400;
    color: #092b43;
    line-height: 1.5;
}

.campanhas {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.titulo-campanhas {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}

.campanhas img {
    width: 30%;
}

.conteudo-principal-sobre span {
    font-weight: 700;
}

.conteudo-principal-sobre p {
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.conteudo-principal-sobre h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2.5rem;
}

.conteudo-principal-parte button {
    background-color: #70C174;
    padding: 1rem 2rem;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-align: center;
    margin-left: 9vw;
    border: none;
    margin-top: 5vh;
}

.marcas {
    background-color: #EFF7F2;
}

.marcas img {
    margin-right: 3vw;
}

.conteudo-principal-titulo img {
    width: 9% !important;
    margin: 0 !important;
}

.contato {
    height: 37.5vh;
    background-color: #ecf0f1;
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Saira";
    font-weight: 600;
    font-size: 1rem;
}

.informacao {
    padding: auto;
    display: flex;
    gap: 6vw;
}

.contato-empresa {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.informacao-dados {
    line-height: 1.5;
}

.contato-empresa-titulo {
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.redes-sociais {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
}

.redes-sociais img {
    width: 5%;
}

.rodape {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    height: 6vh;
    align-items: center;
    margin-top: auto;
}


@media (max-width: 1150px) {
    .conteudo-principal-parte{
        gap: 40px;
    }

    .conteudo-principal-titulo img{
        display: none;

    }

    .sobre button{
        width: 20%;
    }

    .conteudo-principal-sobre{
        margin-left: 50px;
        gap: 50px;
    }

    .conteudo-principal-servico{
        width: 75%;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .conteudo-principal-titulo{
        margin-left: 200px;
    }

    .conteudo-principal-imagem{
        margin-right: 50px;
    }

    .sobre-capa{
        align-items: center;
        margin-left: 0;
    }

    .campanhas img{
        width: 45%;
    }

    .marcas img{
        width: 30%;
    }

    .contato-empresa{
        padding-left: 20px;
    }
}

@media (max-width: 810px){
    .conteudo-principal-servico{
        width: 80%;
        margin-left: 50px;
    }

    .conteudo-principal-titulo{
        display: none;
    }

    .conteudo-principal-parte img{
        width: 40%;
        margin: 0;
    }

    .marcas{
        gap: 0;
    }

    .conteudo-principal-parte{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }

    .conteudo-principal-sobre{
        width: 80%;
    }

    .sobre{
        align-items: center;
    }

    .saiba-mais{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .conteudo-principal-parte button{
        margin: 0;
    }

}

