@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0e3950, #165c89);
    overflow: hidden;
}

.container {
    width: 80%;
    max-width: 1000px;
    height: 80vh;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.form-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo-button {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 120px;
    cursor: pointer;
}

.logo-button img {
    width: 100%;
    height: auto;
}

.form {
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
}

.form-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header .title h1 {
    font-size: 1.8rem;
    color: #092B43;
    position: relative;
}

.form-header .title h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #165c89;
    margin-top: 10px;
    border-radius: 4px;
}

.login-button button {
    border: none;
    background-color: #0e3950;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button button:hover {
    background-color: #165c89;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.3rem;
}

.input-box input {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
}

.input-box input:hover {
    background-color: #f0f0f0;
}

.input-box input:focus-visible {
    border-color: #165c89;
    outline: none;
}

.continue-button {
    margin-top: 2rem;
}

.continue-button button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #165c89;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue-button button:hover {
    background-color: #0e3950;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .form-image {
        display: none;
    }

    .form {
        width: 100%;
        padding: 2rem;
    }

    .logo-button {
        top: 10px;
        left: 10px;
        width: 100px;
    }
}

