@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");



* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.2rem;
}

.lateral {
  font-size: 1.6rem;
  display: flex;
  position: fixed;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  background-repeat: repeat-y;
  background-color: #cdcdcd;
}

.lateral-extendido {
  font-size: 1.6rem;
  display: none;
  position: fixed;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  background-repeat: repeat-y;
  background-color: #cdcdcd;
  color: #8a8a8a;
}

.material-symbols-outlined {
  font-size: 2.2rem !important;
  color: #8a8a8a !important;
}

.icone-lateral {
  margin: 1rem 0;
}

.lateral-extendido img {
  width: 60%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin: 0 40px 80px 40px;
  align-items: start;

}

.menu-principal {
  display: flex;
  flex-direction: column;
}

.menu-ajuste {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #00195a;
  border-top: 1px solid #00195a;
  padding: 40px 0;
  align-items: start;
}

.menu-principal {
  display: flex;
  flex-direction: column;
}

.lateral-extendido .icone-lateral {
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: start;
}

nav button {
  background: none;
  border: none;
}

.dashboard-conteudo {
  background-color: #fdfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 5%;
}

.notificacoes{
  padding: 1rem;
  background-color: #cdcdcd;
  width: 20%;
  display: none;
  position: fixed;
  top: 20%;
  left: 21%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 10px;
  color: #00195a;
  font-weight: 400;
  text-align: center;
}

.titulo-notificacao{
  font-size: 1.6rem;
}

.area-notificacao{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #000000;
  text-align: start;
  gap: 20px;
  background-color: #eeeeee;
  border: 1px solid #adadad;
  border-radius: 10px;
}

.people{
  font-size: 1rem !important;
}

.notificacao{
  display: flex;
  align-items: center;
  gap: 5px;
}

.cabecalho {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #adadad;
  height: 56px;
  font-size: 0.9rem;
  align-items: center;
}

.periodo{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2e2e2e;
  font-weight: 600;
}

.periodo label{
  color: #595959;
  font-weight: 300;
  font-size: 0.7rem;
}

.select-ano{
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.area-parametros-alerta {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

.item-regua {
  width: 200px;
  text-align: center;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
  border: 1px solid #adadad;
  background-color: #eeeeee;
  gap: 5px;
  padding: 30px 20px;
}

.identificacao{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-kpi{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.ajuda{
  font-size: 1rem !important;
  border: none;
  background-color: transparent;
}


.item-regua p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}

.item-regua p:nth-child(2) {
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.kpi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.estado{
  display: flex;
  gap: 20px;
}

.cidade{
  display: none;
  gap: 20px;
}

.coqueluche{
display: flex;
}

.meningite{
display: none;
}

.poliomielite{
display: none;
}

/* Dashboard */

.chart-container {
  background-color: #eeeeee;
  border: 1px solid #adadad;
  height: 20rem;
  width: 40rem;
  padding: 0 40px;
  margin: 1rem 0;
  border-radius: 20px;
  justify-content: center;
}

.chart-container button{
  margin-top: 1rem;
  height: 0;
}

.area-mensagem{
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: #2e2e2e1e;
  position: fixed;
  top: 0;
}

.area-fechar{
  width: 100%;
  text-align: end;
}

.fechar{
  background-color: transparent;
  border: none;
}

.mensagem{
  padding: 30px;
  background-color: #0a4d68cb;
  width: 35%;
  height: 40%;
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 10px;
  box-shadow: -10px 10px 10px #adadad;
  font-size: 1rem;
  color: #eeeeee;
  font-weight: 900;
  text-align: center;
}

.titulo-mensagem{
  font-size: 1.5rem;
}

.corpo-mensagem{
  font-weight: 500;
  width: 60%;
}

.quadradinho {
  border: 1px solid #adadad;
  text-align: center;
  color: #000000;
  border-radius: 15px;
  height: 300px;
  width: 400px;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
}

.quadradinho button{
  margin-top: 1rem;
  padding-left: 1rem;
  height: 0;
}

.conteudo-dash {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

.conteudo-dash-veloc {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 10px;
}

.conteudo-dash-medico {
  display: flex;
  height: 17rem !important;
  width: 22rem !important;
  margin-left: 10px;
  margin-top: 13px;
  border-radius: 10px;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
/* 
.valor-vacina{
  color: #00bf63 !important;
}

.valor-caso{
  color: #ff3131 !important;
} */

.dash {
  flex-grow: 1;
}